﻿<%@ Page Language="C#" AutoEventWireup="true"  CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>

<body>
    <form id="form1" runat="server">
        <asp:Table ID="StatsTable" runat="server" BorderColor="#666666" BorderStyle="Dashed" BorderWidth="1" GridLines="Both" HorizontalAlign="Left">
        </asp:Table>
    </form>
</body>
</html>
