﻿body { background-color:#EBEBEB; font-family: Arial, Helvetica,sans-serif; color:#666; }
a, a:visited { font-size:11px; color:#0713A3; text-decoration:none; }
a:hover {text-decoration:underline;}
#topWrap {background:#fff url(../Images/MasterPage/header.gif) repeat-x 0 0;}
#masterContain { background:transparent url(../Images/MasterPage/logo.png) no-repeat 0 10px; }
.content {width: 100%; margin-top:116px;}
.banner h2 { color:#00539B; font-size:24px; font-weight:bold;}
.noscript .disabled { display: none; }
.defaultTextActive { color: #a1a1a1; font-style: italic; }

#footer {background:#EBEBEB url(../Images/MasterPage/footer.gif) repeat-x 0 0; text-align:center; font-size:10px; color:#333;}
#footer p { margin-top:20px;}
#footer ul {margin:10px 0;}
#footer ul li.first {border-left:0px solid #EbEbEb;}
#footer ul li { display:inline; padding:0px 5px; border-left:1px solid #333; margin-left:0px;}
#footer ul li a { color:#0713A3; text-decoration:none;}
