﻿table {width:100%; table-layout:fixed;}
table th {font-weight:bold; width:20%;}
table td { width:80%;}
table td, table th {vertical-align:middle; padding:5px; }
input {padding:3px; font-size:12px; width:246px; height:29px; line-height:29px;}
input[disabled='disabled'], input.readonly { background:#fcfcfc; }
input.full {width:100%;}

.validation-summary-errors ul { color:#EE3124; font-size:11px; }

/* CSS3 Buttons */
a.button { display: inline-block; padding: 9px 18px; font-size: 14px; line-height:1; color: #3C3C3D; text-shadow: 1px 1px 0 #FFFFFF; background: #ECECEC url('../Images/Buttons/css3buttons_backgrounds.png') 0 0 no-repeat; white-space: nowrap; overflow: visible; cursor: pointer; text-decoration: none; border: 1px solid #CACACA; -webkit-border-radius: 2px; -moz-border-radius: 2px; -webkit-background-clip: padding-box; border-radius: 2px; outline: none; position: relative; zoom: 1; *display: inline; }
a.button.primary { font-weight: bold }
a.button:hover { color: #FFFFFF; border-color: #BCBCBC; text-decoration: none; text-shadow: -1px -1px 0 rgba(0,0,0,0.3); background-position: 0 -200px; background-color: #BCBCBC; }