﻿<%@ Page Title="" Language="C#" MasterPageFile="~/_support/MasterPage.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <script type="text/javascript">
        function modalWin() {
            if (window.showModalDialog) {
                window.showModalDialog("ModalLogin.aspx", "name", "dialogWidth:550px;dialogHeight:600px");
            } else {
                window.open('ModalLogin.aspx', 'name', 'height=600,width=550,toolbar=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=no ,modal=yes');
            }
        } 
    </script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<ul>
	<li><a href="ModalLogin.aspx" target="name" onclick="modalWin(); return false;">Login</a></li>
	<li><a href="#">Change Password</a></li>
</ul>
</asp:Content>

