@charset "utf-8";
/* CSS Document */

body {
background-color:#FFFFFF;
color:#000000;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
line-height:1.5em;
}

a, a:visited, a :active {
color:#006BB7;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
text-decoration:none;
}

a:hover {
color:#006BB7;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
text-decoration:underline;
}

.contact a, .contact a:visited, .contact a :active {
color:#666;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
text-decoration:none;
letter-spacing:2px;
text-transform:uppercase;
}

.contact a:hover {
color:#e45a49;
text-decoration:none;
}
#splashText {
text-align:center;
width:600px;
}

#splashText p {
text-align:center;
}

#animation {
padding-top:15px;
padding-bottom:15px;
}

#container {
}

.login  {
width:425px;
height:40px;
text-align:left;
}

.error  {
width:600px;
text-align:left;
color:#e45a49;
font-weight:bold;
padding-bottom:20px;
text-align:center;
}


.loginText {
font-weight:bold;
width: 126px;
float:left;
padding-top:6px;
}

.input {
width: 299px;
float:right;
}

#emailAddress {
background-color:#FFFFFF;
border:solid 1px;
height:20px;
color:#000000;
padding:5px;
}

#password {
background-color:#424242;
background-color:#FFFFFF;
border:solid 1px;
height:20px;
color:#000000;
padding:5px;
}

#publicComputer {
border:none;
}

.loginButtonStyle {
text-align:center;
background:url(../images/button_login.png) no-repeat bottom left;
border:none;
height:25px;
width:66px;
color: #94b3c5;
font-weight:bold;
}

.workingButtonStyle {
text-align:center;
background:url(../images/button_working.png) no-repeat bottom left;
border:none;
height:25px;
width:66px;
color: #94b3c5;
font-weight:bold;
}

.loginButtonStyle:hover {
background:url(../images/button_login_ovr.png) no-repeat bottom left;
}

.submitButton {
text-align:center;
background:url(../images/button_submit.png) no-repeat bottom left;
border:none;
height:25px;
width:66px;
color: #94b3c5;
font-weight:bold;
}

.submitButton:hover {
background:url(../images/button_submit_ovr.png) no-repeat bottom left;
}