﻿@charset "utf-8";
/* CSS Document */

body  {
	background: #FFF;
	margin: 0; 
	padding: 0;
	text-align: center; 
	color: #000000;
}


.thrColEls #container { 
	width: 980px; 
	background: #fff;
	margin: 0 auto; 
	border: 1px solid #fff;
	text-align: center; 
} 


.thrColEls #sidebar1 {
	float: left; 
	width: 191px;
	background: #fff; 
	padding: 15px 0; 
	text-align:left;
	margin-top:-15px;
	height:400px;
	margin-right:20px;
}
.thrColEls #sidebar2 {
	float: right; 
	width: 191px;
	background: #fff; 
	padding: 15px 0;
	text-align:left;
	margin-left:15px;
}
.thrColEls #sidebar1 h3, .thrColEls #sidebar1 p, .thrColEls #sidebar2 p, .thrColEls #sidebar2 h3 {
	margin-left: 10px; 
	margin-right: 10px;
	font-family: Helvetica, Arial, sans-serif;
	font-size:9pt;
	color:#2191cd;
	text-align:right;
	line-height:14pt;
}

.thrColEls #sidebar1 h3 {
	font-size: 15pt;
	font-weight:600;
	margin-top:0px;
	margin-bottom:0px;
}

.thrColEls #sidebar2 td {
	color:#666;
	text-align:left;
	font-family: Helvetica, Arial, sans-serif;
	font-size:9pt;
	line-height:14pt;
	height:400px;
}


.thrColEls #mainContent {
  margin: 0 12em 0 12em;
  background-color:#FFF;
  width:256px;
} 

.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

#WgLogo {
	background-color:#fff;
	padding-top:60px;
	padding-left: 0px;
	padding-bottom:100px;
	float:none;
	margin:0px;
	text-align:left;
}

#WgPass {
	background-color:#fff;
	text-align:center;
	float:none;
	margin:0px;
}

#formHolder {
	width:660px;
	margin-left:171px;
}

.loginText {
	text-align:left;
	font-family: Verdana, Helvetica, Arial,  sans-serif;
	color: #999999;
	font-size: 8pt;
	margin-bottom:8px;
	margin-left:12px;
	margin-top:30px;
}

.input {
	background-color:#e6e6e6;
vertical-align:middle;
background-repeat:no-repeat;
border:medium none;

margin-bottom:8px;
overflow:hidden;
padding:10px;
width:227px;
font-size:18px;
}

#checkbox_x {
background-color:#fff;
border:none;
text-align:left;
	font-family: Verdana, Helvetica, Arial,  sans-serif;
	color: #666;
	font-size: 8pt;
	border:none;

}

.checkbox {
	font-family: Verdana, Helvetica, Arial,  sans-serif;
	color: #666;
	font-size: 8pt;
	border:none;
	background-color:#fff;
	border-color:#fff;
}

.loginButton {
text-align:center;
background:url(../images/button_signOn.png) no-repeat bottom left;
border:none;
height:27px;
width:74px;
color: #94b3c5;
font-weight:bold;
margin-right:10px;
}

.contact a, .contact a:visited, .contact a :active {
color:#666;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
text-decoration:underline;
text-align:right;
padding-right:10px;
}

.contact a:hover {
color:#e45a49;
}