@CHARSET "UTF-8";

* {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
}



body {

	border: 0px;

	background-color: #C0C0C0;

}



html, body { height: 100%; }



#container {

	margin-left: auto;

	margin-right: auto;

	position: relative;

	text-align: left;

	clear: left;

	height: 100%;

	_height: 100%;

	background-color: #F3F3F2;

	width: 750px;

	border: 1px solid black;

	display: table;

}

.error {
	color: red;
}

.alert {
	color: green;
}

a {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
}

a:hover {
	text-decoration: underline;
}

#left_header {
	float: left; 
	width: 330px;
	height: 102px;
}

#right_header {
	float: right; 
	text-align: center;
	vertical-align: bottom;
	height: 102px;
	width: 404px;
}

#right_header #text {
	margin-top: 30px;
	font-size: 32px;
}

#menu {
	float: left;
	width: 744px;
	text-align: right;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 3px;
	background-color: black;
	color: white;
}

#menu a {
	color: white;
	text-decoration: none;
}

#menu a:visited {
	color: white;
}

#menu a:hover {
	text-decoration: underline;
}

#messageCenter {
	float: left;
	width: 744px;
	text-align: center;
	border-bottom: 1px solid black;
	padding: 3px;
	background-color: green;
	color: white;
	font-weight: bold;
}

#errorCenter {
	float: left;
	width: 744px;
	text-align: center;
	border-bottom: 1px solid black;
	padding: 3px;
	background-color: red;
	color: white;
	font-weight: bold;
}

#content {
	float: left;
	width: 744px;
	text-align: left;
}

#content .cell {
	width: 350px;
	margin-top: 20px;
}

td.d0 {
	background-color: #C0C0C0;
}

td.d1 {
	background-color: white;
}