#titleContainer {
	PADDING-RIGHT: 2px; BORDER-TOP: #163e7b 4px solid; DISPLAY: block; PADDING-LEFT: 2px; FONT-SIZE: 15px; BACKGROUND: #1c58b2; PADDING-BOTTOM: 2px; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: #1c58b2 4px solid; FONT-FAMILY: Verdana; TEXT-ALIGN: left
}
#titlePopUpContainer {
	PADDING-RIGHT: 0px; BORDER-TOP: #163e7b 4px solid; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 15px; BACKGROUND: #1c58b2; PADDING-BOTTOM: 0px; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: #1c58b2 4px solid; FONT-FAMILY: Verdana; TEXT-ALIGN: left
}
#PopUpContainer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #1c58b2 4px solid; TEXT-DECORATION: none
}
#PopUpContainer A:hover {
	TEXT-DECORATION: none
}
#mainContainer {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; FONT-FAMILY: Verdana
}
#mainContainer A {
	DISPLAY: inline; COLOR: #000000
}
#mainContainer A:hover {
	BACKGROUND: #6a87b1; COLOR: #ffffff; TEXT-DECORATION: none
}
BODY {
	FONT-SIZE: 10px; BACKGROUND: #ffffff; FONT-FAMILY: Verdana
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL LI {
	MARGIN-TOP: 2px; MARGIN-BOTTOM: 2px; BORDER-TOP-STYLE: none; MARGIN-RIGHT: 2px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
UL LI A {
	DISPLAY: block; PADDING-LEFT: 5px
}
UL LI.noline {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
UL LI.noline A {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px
}
UL LI.loggedin {
	PADDING-LEFT: 5px
}
A {
	COLOR: #111982; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A:hover {
	BACKGROUND: #c9e3fe; COLOR: #111982; TEXT-DECORATION: none
}
A.nav {
	BORDER-TOP: #eeeeee 4px solid; COLOR: #222222; HEIGHT: 16px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.nav:hover {
	BORDER-TOP: #1c58b2 4px solid; FONT-SIZE: 10px; BACKGROUND: #1c58b2; COLOR: #ffffff; TEXT-DECORATION: none
}
A.navcurrent {
	BORDER-TOP: #6a87b1 4px solid; BACKGROUND: #6a87b1; COLOR: #ffffff; HEIGHT: 16px; TEXT-DECORATION: none
}
A.navcurrent:hover {
	BORDER-TOP: #6a87b1 4px solid; BACKGROUND: #6a87b1; COLOR: #ffffff; HEIGHT: 16px; TEXT-DECORATION: none
}
A.subnav {
	BORDER-TOP: #eeeeee 3px solid; FONT-SIZE: 9px; BACKGROUND: #eeeeee; MARGIN-LEFT: 12px; COLOR: #222222; BORDER-BOTTOM: #eeeeee 3px solid; TEXT-DECORATION: none
}
A.subnav:hover {
	FONT-SIZE: 9px; BACKGROUND: #1c58b2; MARGIN-LEFT: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.subnavactive {
	BORDER-TOP: #eeeeee 3px solid; FONT-SIZE: 9px; BACKGROUND: #eeeeee; MARGIN-LEFT: 12px; COLOR: #1c58b2; BORDER-BOTTOM: #eeeeee 3px solid; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.helpstyle {
	DISPLAY: inline; COLOR: #222222
}
A.helpstyle:hover {
	BACKGROUND: #6a87b1; COLOR: #ffffff; TEXT-DECORATION: none
}
TD.leftnav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #eeeeee; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #000000 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid
}
TD.where {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 0px; BACKGROUND: #eeeeee; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid
}
TD.rightcontent {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #666666 1px; PADDING-LEFT: 0px; BACKGROUND: #eeeeee; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #666666 1px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid
}
TD.midcontent {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #eeeeee; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #000000 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid
}
TD.logincontent {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #eeeeee; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #666666 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #163e7b 4px solid
}
TD.rightcellheader {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #6a87b1; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 5px
}


TD.top {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT: #000000 1px solid; PADDING-BOTTOM: 0px; BORDER-BOTTOM: #666666 1px solid; MARGIN: 0px; PADDING-TOP: 0px; BORDER-TOP: #000000 1px solid
}
TD.bodycontent {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #eeeeee; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #000000 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid
}
TD.spbodycontent {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #ffefd2; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #000000 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid
}
TD.spleftnav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #ffefd2; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #000000 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid
}
TD.sprightcontent {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #666666 1px; PADDING-LEFT: 0px; BACKGROUND: #ffefd2; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #666666 1px; PADDING-TOP: 0px; BORDER-BOTTOM: #163e7b 4px solid
}
TD.spmidcontent {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #ffefd2; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #000000 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid
}


TABLE {
	TEXT-ALIGN: left
}
TABLE.loginborder {
	BORDER-RIGHT: #555555 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #555555 1px solid; PADDING-LEFT: 5px; BACKGROUND: #ffffff; PADDING-BOTTOM: 5px; MARGIN: 2px; BORDER-LEFT: #555555 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #555555 1px solid
}
TABLE.saved {
	BORDER-RIGHT: #009900 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #009900 1px solid; PADDING-LEFT: 0px; BACKGROUND: #ccffcc; PADDING-BOTTOM: 0px; MARGIN: 2px; VERTICAL-ALIGN: top; BORDER-LEFT: #009900 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #009900 1px solid; TEXT-ALIGN: left
}
TABLE.notes {
	BORDER-RIGHT: #ffcc00 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ffcc00 1px solid; PADDING-LEFT: 0px; BACKGROUND: #ffffcc; PADDING-BOTTOM: 0px; MARGIN: 2px; VERTICAL-ALIGN: top; BORDER-LEFT: #ffcc00 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #ffcc00 1px solid; TEXT-ALIGN: left
}
TABLE.error {
	BORDER-RIGHT: #ff0000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ff0000 1px solid; PADDING-LEFT: 0px; BACKGROUND: #ffcccc; PADDING-BOTTOM: 0px; MARGIN: 2px; VERTICAL-ALIGN: top; BORDER-LEFT: #ff0000 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #ff0000 1px solid; TEXT-ALIGN: left
}
TD.content {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #ffffff; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
TD.activecontent {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #abc1e2; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
TD.darkcontent {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #ffffff; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
